*~
*.DS_Store
*.class
*java#
*.classpath
*.project
*.settings
*/bin/
*/gen/
=======
.DS_Store
target
*.iws
*.ipr
*.iml
.classpath
.project
.settings
.springBeans


gen/com/wareninja/android/opensource/oauth2login/R.java

project.properties

bin/AndroidManifest.xml

bin/jarlist.cache

gen/com/wareninja/android/opensource/oauth2login/BuildConfig.java
